@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

a {
  color: #3d2814;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.logo {
  color: #3d2814;
}

h3 {
  font-size: xx-large;
  margin: 10px 0;
  text-align: center;
}

/* REMOVING BULLET POINTS FROM UNORDERED LISTS */
ul {
  list-style: none;
}

/* NAVBAR */
.color-nav {
  background-color: #f4f2e9;
}

.link-border {
  border-bottom: solid #3d2814 1px;
  margin-left: 10px;
}

/* HOMEPAGE */
.all-books-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.book-cards {
  margin: 10px;
}

/* SEARCH BAR ELEMET */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 3%;
}

.search {
  width: 28%;
}

/* MY BOOKS SHELVES */
.shelf-name {
  font-size: x-large;
  margin: 30px;
  text-align: center;
  text-decoration: underline;
}

/* SINGLE BOOK VIEW */
.single-book-container {
  margin-top: 20px;
}

aside {
  margin-left: 10%;
  position: fixed;
  float: left;
  width: 20%;
}

.book-on-shelf {
  margin-top: 10px;
}

.rate-book-btn {
  margin-top: 10px;
}

.single-book-main-container {
  float: right;
  margin-right: 10%;
  width: 57%;
}

.smaller-text {
  font-size: 14px;
}

/* BOOK REVIEW CARDS */

/* REACTIONS */
.reactions-container {
  width: 100%;
  display: flex;
  margin-bottom: 45px;
}

.reactions-dropdown {
  padding: 5px 10px;
  background-color: #ffffff;
  display: flex;
  border-radius: 4px;
}

.reactions-display {
  padding: 3px;
}

.display-reactions {
  height: 20px;
  width: 22px;
  margin: 5px;
}

.no-show {
  display: none;
}
